= effective_form_with(model: [:admin, notification], engine: true) do |f|
  %h2 Data Source
  %p
    Please select a
    = link_to 'report', effective_reports.admin_reports_path, target: '_blank'
    with an email report column to use as the data source.

  %p Each result from the report will be sent a notification.

  .row
    .col-md-6
      = f.select :report_id, Effective::Report.sorted.emails.all, label: 'Report with email column',
        'data-load-ajax-url': effective_messaging.new_admin_notification_path,
        'data-load-ajax-div': '#effective-messaging-ajax'

  %h2 Schedule
  %p Please select a date when the notifications should be sent

  .row
    .col-md-6
      - minDate = [f.object.created_at, Time.zone.now].compact.min

      = f.datetime_field :send_at, label: 'Send the notification at', input_js: { minDate: minDate.strftime('%F %H:%M:%S') },
        hint: 'A future date. Changing this value will reset the started_at and completed_at dates so this notification can be sent again.'
    .col-md-6
      - if f.object.completed_at.present?
        = f.static_field :completed_at
      - elsif f.object.started_at.present?
        = f.static_field :started_at

  %h2 Notification
  %p The following notification will be sent to each row in the data source

  = f.email_field :from
  = f.text_field :subject
  = f.text_area :body

  #effective-messaging-ajax
    - if f.object.report.present?
      %p You can use the following variables in the subject and body:

      %ul
        - f.object.report_variables.each do |name|
          %li {{ #{name} }}

  = f.submit do
    = f.save 'Save'

    - if f.object.persisted? && !f.object.in_progress?
      = f.save 'Send Now', class: 'btn btn-warning', 'data-confirm': "Really send #{pluralize(notification.rows_count, 'notification')} now?"

    = f.save 'Add New', class: 'btn btn-secondary'
    = f.save 'Continue', class: 'btn btn-secondary'
