= tabs do
  = tab 'Notification' do
    = render 'admin/notifications/form_notification', notification: notification

  - if notification.persisted? && notification.respond_to?(:logs_datatable)
    = tab 'Logs' do
      = render_datatable(notification.logs_datatable)
