%p
  This notification will be sent to all rows from the
  = link_to(notification.report, effective_reports.admin_report_path(notification.report), target: '_blank')
  report at the time of sending.

%p Tomorrow morning, #{pluralize(notification.notifiable_tomorrow_rows_count, 'rows')} notifications will be sent.

.mb-2
  = collapse('Show notification details') do
    = effective_table_with(notification)

.mb-2
  = collapse("Show report data") do
    %h4= notification.report.to_s
    = render 'admin/reports/report', report: notification.report

- message = notification.preview()

- if message.present?
  - if notification.audience_emails?
    %p A preview of the "Send to specific addresses" notification follows:
  - else
    %p Using a random row from the data source, a preview of the "Send to user or email from the report" notification follows:

  = card('Preview') do
    - message = notification.preview()

    %table.table
      %tbody
        %tr
          %th To
          %td= Array(message.to).join(', ')
        %tr
          %th From
          %td= Array(message.from).join(', ')
          
        - if (content_type = message.content_type).present?
          %tr
            %th Content-Type
            %td= content_type

        - if (cc = message.cc).present?
          %tr
            %th CC
            %td= cc

        - if (bcc = message.bcc).present?
          %tr
            %th BCC
            %td= bcc

        %tr
          %th Subject
          %td= message.subject

        %tr
          %td{colspan: 2}
            - if email_message_html?(message)
              = iframe_srcdoc_tag(email_message_body(message))
            - else
              = simple_format(email_message_body(message))
