= effective_form_with(model: [:admin, chat], engine: true) do |f|
  = f.text_field :title, label: "Title"

  - if f.object.anonymous?
    = f.static_field :anonymous do
      %p Yes, this is an anonymous #{etd(f.object)}. User names and emails will not be displayed
  - else
    = f.check_box :anonymous, label: "Yes, this is an anonymous #{etd(f.object)}", hint: 'user names and emails will not be displayed'

  = f.hidden_field :user_type, value: current_user.class.name

  - ajax_url = (effective_resources.users_effective_ajax_index_path unless Rails.env.test?)

  = f.select :user_ids, current_user.class.all, required: true, label: ets(chat.chat_users),
    ajax_url: ajax_url, hint: "The users that can participate in this #{etd(f.object)}"

  = effective_submit(f)
