= tabs do
  = tab "Chat" do
    = render 'admin/chats/form_chat', chat: chat

  - if chat.persisted?
    - if chat.respond_to?(:logs_datatable)
      = tab "Logs" do
        = render_inline_datatable(chat.logs_datatable)
