%h2= t('effective_messaging.dashboard')

- datatable = EffectiveResources.best('EffectiveChatsDatatable').new(self, namespace: :effective, year: local_assigns[:year])

- if datatable.present?
  %p You are a #{etd(Effective::ChatUser)} of #{pluralize(datatable.collection.length, etd(Effective::Chat))}.
  = render_datatable(datatable, simple: true)
- else
  %p You haven't received any #{etsd(Effective::ChatMessage)}. When you do, we'll show it here.
