= render 'layout' do
  - chat_user = chat.chat_user(user: current_user)

  %p Chatting with #{(chat.chat_users - [chat_user]).to_sentence} about #{chat}.

  - if chat.anonymous?
    %p= badges('anonymous')

  - # New message form
  - if chat_user.present?
    = render('effective/chats/form', chat: chat)

  %hr
